.codepen {
  background-color: var(--color-black);
  padding: 3rem 0;
}

.box {
  width: 35%;
  padding: 0 0 0 0;
  position: relative;
  height: 400px;
  margin: auto;
}
.box img {
  position: absolute;
  height: auto;
  max-width: 50%;
  right: 0;
}
.box .i1 {
  top: -1%;
  right: 11%;
  max-width: 156px;
}
.box .i2 {
  top: 22%;
  right: 16%;
  max-width: 222px;
}
.box .i3 {
  top: 40%;
  right: 17%;
  max-width: 204px;
}
.box .i4 {
  top: 41%;
  right: 16%;
  max-width: 200px;
}
.box .i5 {
  top: 54%;
  right: 7%;
  max-width: 236px;
}

@-webkit-keyframes back {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(45%, -18%);
  }
}

@keyframes back {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(45%, -18%);
  }
}
@-webkit-keyframes arms {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(-15%, -40%);
  }
}
@keyframes arms {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(-15%, -40%);
  }
}
@-webkit-keyframes base {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(65%, 35%);
  }
}
@keyframes base {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(65%, 35%);
  }
}
@-webkit-keyframes wheels {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(-30%, 35%);
  }
}
@keyframes wheels {
  0%, 30% {
    transform: translate(0, 0);
  }
  60%, 100% {
    transform: translate(-30%, 35%);
  }
}
.i1 {
  -webkit-animation: 2s back ease-in-out infinite;
          animation: 2s back ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.i2 {
  -webkit-animation: 2s arms ease-in-out infinite;
          animation: 2s arms ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.i4 {
  -webkit-animation: 2s base ease-in-out infinite;
          animation: 2s base ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.i5 {
  -webkit-animation: 2s wheels ease-in-out infinite;
          animation: 2s wheels ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}