.header {
    background: rgba(255, 255, 255, .8);
    padding: 0rem 0.5rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: all .3s ease-in-out;
    font-family: "Proxima-Nova-Light";
    text-transform: uppercase;
}

.header.open {
    background: var(--color-white);
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 1.2rem 1rem;
    height: 6vh;
    object-fit: cover;
}

.header-links {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    color: var(--color-black);
    background-color: var(--color-white);
    font-weight: lighter;
    transition: all .3s ease-in-out;
}

.header-links.open {
    top: 100%;
    bottom: auto;
}

.header-links .container {
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-link:hover {
    font-weight: 600;
}

.header-burger {
    cursor: pointer;
    flex-shrink: 0;
    color: var(--color-black);
}

@media (min-width: 768px) {
    .header-burger {
        display: none !important;
    }

    .header-links {
        position: static;
        background-color: transparent;
    }

    .header-links .container {
        margin: 0.8rem 1rem;
        font-weight: 400;
        font-size: 1.00rem;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-layout {
        align-items: end;
    }
}