
:root {
    --color-black: #08080D;
    --color-grey #efefef;
    --color-white: #ffffff;
    --color-beige: #72624D;
    --color-background: #F7F7F7;
    --color-container: #F6F6F2;

}

@font-face {
    font-family: "Chronicle Display";
    src: url("../../font/Chronicle Display Roman.woff");
}

@font-face {
    font-family: "Proxima-Nova-Font";
    src: url("../../font/Proxima-Nova-Font.woff");
}

@font-face {
    font-family: "Chronicle Display Light Italic";
    src: url("../../font/Chronicle Display Light Italic.woff");
}

@font-face {
    font-family: "Proxima-Nova-Light";
    src: url("../../font/Proxima-Nova-Light.woff");
}

html, body {
    font-family: "Proxima-Nova-Light", sans-serif;
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* Content */
h1, h4 {
    font-family: "Chronicle Display", sans-serif;
    margin: 0;
    padding-bottom: .5rem;
}

h2 {
    font-family: "Proxima-Nova-Light", sans-serif;
    margin: 0;
    padding-bottom: .5rem;
}

h3 {
    font-family: "Chronicle Display Light Italic", sans-serif;
    margin: 0;
    padding-bottom: .5rem;
}


/* Content */
h1 {
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}

h3 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}

.subtitle {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5rem;
}

p:last-child {
    padding-bottom: 0;
}

b {
    font-family: "Proxima-Nova-Font", sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: all .3s ease-in-out;
}

img {
    object-fit: cover;
    max-width: 100%;
}

figure {
    margin: 0;
}

/* Button */
.btn {
    background-color: var(--color-black);
    padding: 1rem 2rem;
    font-size: 1.00rem;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1rem;
    font-family: "Proxima-Nova-Light", sans-serif;
}

.btn:hover {
    background-color: rgba(8, 8, 13, 0.65);
}

.btn-outline {
    padding: 1rem 2rem;
    font-size: 1.00rem;
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--color-black);
    display: inline-block;
    margin-top: 1rem;
    font-family: "Proxima-Nova-Light", sans-serif;
}

.btn-outline:hover {
    background-color: rgba(8, 8, 13, 0.65);
    border-color: rgba(8, 8, 13, 0.65);
    color: var(--color-white);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container */
.container {
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}